Source: qxgedit
Section: contrib/sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 11), cmake, pkg-config,
  qt6-base-dev (>= 6.1) | qtbase5-dev (>= 5.1),
  qt6-base-dev-tools (>= 6.1) | qtbase5-dev-tools (>= 5.1),
  qt6-tools-dev (>= 6.1) | qttools5-dev (>= 5.1),
  qt6-tools-dev-tools (>= 6.1) | qttools5-dev-tools (>= 5.1),
  qt6-l10n-tools (>= 6.1)  | base-files (<< 12),
 libqt6waylandclient6-dev | qt6-wayland-dev (>= 6.1) |
  libqt5waylandclient5-dev | qtwayland5-dev  (>= 5.1),
  libqt6svg6-dev | libqt5svg5-dev, libgl-dev,
  libasound2-dev
Standards-Version: 3.9.7

Package: qxgedit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  qt6-qpa-plugins | base-files (<< 12)
Description: Qt XG Editor
  QXGEdit is a Qt GUI for editing MIDI System Exclusive files
  for XG devices (eg. Yamaha DB50XG). 

